In [1]:
import numpy as np                                        
import scipy.stats as st                                   
import pandas as pd     
import matplotlib.pyplot as plt
% matplotlib notebook

UsageError: Line magic function `%` not found.

In [2]:
WTI = pd.read_csv("WTI_price.csv") 
WTI.head()

           Date  Cushing, OK WTI Spot Price FOB (Dollars per Barrel)
0  Jan 02, 1986                                              25.56
1  Jan 03, 1986                                              26.00
2  Jan 06, 1986                                              26.53
3  Jan 07, 1986                                              25.85
4  Jan 08, 1986                                              25.87

In [3]:
WTI_date = WTI['Date']
WTI_price = WTI['Cushing, OK WTI Spot Price FOB (Dollars per Barrel)']
WTI

              Date  Cushing, OK WTI Spot Price FOB (Dollars per Barrel)
0     Jan 02, 1986                                              25.56
1     Jan 03, 1986                                              26.00
2     Jan 06, 1986                                              26.53
3     Jan 07, 1986                                              25.85
4     Jan 08, 1986                                              25.87
...            ...                                                ...
8472  Aug 13, 2019                                              57.05
8473  Aug 14, 2019                                              55.16
8474  Aug 15, 2019                                              54.51
8475  Aug 16, 2019                                              54.83
8476  Aug 19, 2019                                              56.24

[8477 rows x 2 columns]